<br>
<div class="col-md-12 text-center">
  <div class="thumbnail">
    <div class="caption">
      <h3>
        <%= post.title %>
      </h3>
        <% case post.kind %>
          <% when "txt" %>
            <h4>
              <%= post.content %>
            </h4>
          <% when "img" %>
            <div class="text-center">
              <%= image_tag(post.content, class: "img-responsive text-center") %>
            </div>
          <% when "vid" %>
            <%= embed(post.content) %>
        <% end %>
      <br><br>
      <p>
        Publicado por <%= post.user.username %> ( <%= post.created_at.strftime("%d-%m-%Y %I:%M%p") %> )
        <% if current_user == post.user %>
          <%= link_to "", delete_path(id: post.id), method: :delete, data: { confirm: "¿Seguro?"} ,class: "glyphicon glyphicon-trash btn btn-warning" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<br>

<style type="text/css">
  img{
    width: 50%;
    margin-left: 25%;
    min-height: 400px;
  }
  iframe{
    width: 70%;
    min-height: 400px;
  }
</style>
