<div class="col-md-4 col-md-offset-4 text-center" id="post-form">
  <%= form_for post, url: {action: 'post'}, remote: true do |f|%>
    <div class="form-group text-center">
      <br>
      <%= f.label :title, "Título" %>
      <%= f.text_field :title, placeholder: "ej. Aquí va el título", class: "form-control" %>
      <br>
      <%= f.label :title, "Contenido" %>
      <%= f.text_field :content, placeholder: "ej. Aquí va el texto o link", class: "form-control" %>
      <br>
      <%= f.hidden_field :kind, value: type %>
      <% case type %>
        <% when "txt" then color = "success"%>
        <% when "img" then color = "warning"%>
        <% when "vid" then color = "primary"%>
      <% end %>
      <%= f.submit "Publicar", class: "btn btn-lg btn-#{color}" %>
      <br>
    </div>
  <% end %>
</div>
